<div id="<%= dom_id idea %>">
  <p>
   <strong id="specific" class="label">Name:</strong>
    <%= idea.name %>
  </p>

  <p>
    <strong class="label">description:</strong>
    <%= idea.description %>
  </p>

  <p>
    <strong class="label">picture:</strong>
    <img src="<%= idea.picture %>" width="50" />
  </p>

</div>
